
.divForTables{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
        min-height: 100px;
        flex-wrap: wrap;
        margin-top: 40px;
  
      }

.divForTables2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
        min-height: 100px;
        flex-wrap: wrap;
        margin-top:3%;
}
.content{
  justify-content: center;
    width: 405px;
    min-height: 405px;
    border: 3px solid #d6d6d6;
    background-color: #f3e7f1;
    margin-bottom: 50px;
    
}
.textForConcerns{
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 320px;
}
#imgStyle{
  width: 400px;
  height: 400px;
}
.absolute {
  position: absolute;
  display:flex;
  
}
.hidden {
  opacity: 0.001;
  padding-left: 36px;
}
.content:hover .hidden {
  opacity: 1;
}
.content:hover > .one {
  opacity: .1;
}
.description{
  font-size: 15pt;
}
.photosForConcerns{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 80%;
}
.description{
  color:rgb(94, 92, 92);
  font-family: Garamond;
  font-weight: bolder;
  font-size: 18px;
}
#imgTable{
  align-items: center;
  width: 100px;
  height: 120px;
  margin-left: 5pt;
}
.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-align: center;
  font-family: Garamond;
  letter-spacing: 2px;
  color:white;
  font-weight: bold;
}
.underText{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  text-align: center;
  font-family: Garamond;
  letter-spacing: 2px;
  color:white;
}
.underText2{
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  text-align: center;
  font-family: Garamond;
  letter-spacing: 2px;
  color:white;
}
.titleCon{
  color:#c7bac594;
  font-weight: bold;
}