 *{
    margin: 0;
    padding: 0;
}
body {
    font-family:"Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #d7cbd9;   
    font-size: 13px;
}

header,
table {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    margin:auto;
    justify-content: center;
    align-items: center;
}
#formulari {
    display: flex;
    flex-direction: column;
   justify-content: center;
    width: 40%;
    min-height: 600px;
   margin-top: 1.7%;
   text-align: left;
    color: rgb(58, 57, 57);
}

form {
    width: 100%;
    height: 600px;
    display: flex;
   flex-direction: column;
   border-radius: 0.5em;
   background-color: white;
   padding-top: 2%;
}
input,
label,textarea,select {
    width: 200px;
    min-height: 3%;
    padding: 5px;
    margin-left: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(34, 34, 34);
}
input, textarea{
    margin-bottom:6%;
    width:80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#product{
    margin-top:1%;
}
#inp{
    height:20px;
}
  #fotoParagh{
    width:320px;
    height: 100px;
    margin-left:18%;
    background-color: rgb(236, 235, 235);
    border: 3px dashed #ccc;
    text-align: center;
    line-height:120px;
    color: #181515;
  }
  #fotoInput{
    position: absolute;
    margin: 0;
    padding: 0;
    margin-left:6.7%;
    width:330px;
    height: 110px;
    outline: none;
    opacity: 0;
  }

.priceDiv{
    flex-direction: row;
}
#pricelabel{
    margin-top:8%;
}
#price{
    width:35%;
    height:20px;
}
#euro{
    width: 30%;
    background-color: white;
    height:20px;
}
button {

    background-color: #d1b2d8;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    width:110px;
    height:37px;
    margin-left:37%;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;

  }
  button:hover{
    background-color: #cb9cd6;
  }