@media only screen and(max-width:375px){

}
ol>li{
    display: inline;
    
}
*{
margin:0;
}


#main-div{
    background-blend-mode: lighten;
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;  
}

li:not(:first-child){
    color:brown;
    font-weight:bold;

}
h1{
    background-color: white;
    border: none;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.aa{
    text-align: center;
    justify-content: center;
    margin:auto;
    width: 350pt;
    height:400px;
    border-radius: 35px;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
}
.inputi{
   margin-bottom: 15pt; 
   height: 40pt;
    width: 240pt;
    border-radius: 35px;
    background-color: rgb(242,242,242);
    border: none;
    font-size:18.5px;
    padding-left: 13px;
}
#a1{
    background-color: #d7cbd9;
    color: black;
    font-weight: bold;
    width: 246pt;
}
.label{
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #fff;
    line-height: 1.2;

    display: inline;
    position: relative;
    cursor: pointer;
  }
  .checkb{
      margin-left: 0;
      display: none;
      padding-right: 5px;
  }
ion-icon{
   
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 5pt;
    border-color: black;
} 
#twitter{
    background-color: aqua;
}
#fb{
    background-color:blue;
}
#g{
    background-color: orangered;
}

